html {
  box-sizing: border-box;
  font: 14px/1.5 'Sansita', sans-serif; }

body {
  font: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
  line-height: 1.5;
  margin: 0, 0, 0.5em 0;
  padding: 0; }

h1 {
  font-size: 3em;
  font-weight: normal; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

ul {
  list-style-type: none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@media only screen and (max-width: 700px) {
  html {
    font-size: 14px; } }

@media only screen and (min-width: 700px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 1040) {
  html {
    font-size: 18px; } }

@media only screen and (min-width: 1900px) {
  html {
    font-size: 20px; } }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

header {
  display: flex;
  justify-content: space-between; }
  header .logo {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.5px dotted #EECCDD;
    border-bottom: 0.5px dotted #EECCDD; }
    header .logo a {
      font-size: 2.5em;
      color: #EECCDD; }
      header .logo a:hover, header .logo a:focus {
        color: white; }

.nav {
  margin-right: 6em; }
  .nav ul {
    display: flex;
    justify-content: flex-end; }
  .nav li {
    background: #EECCDD; }
    .nav li a {
      padding: 1.8em;
      display: block;
      width: 100%;
      height: 100%;
      color: #442233;
      font-size: 1.2em;
      border-top: none; }
      .nav li a:hover, .nav li a:focus {
        background: white; }

.top {
  width: 100vw;
  height: 85vh;
  display: flex;
  overflow: hidden;
  box-sizing: border-box; }
  .top .left,
  .top .right {
    display: flex;
    flex-direction: column; }
  .top .left {
    flex: 2;
    justify-content: center;
    align-items: center;
    padding-right: 4em;
    text-align: left; }
    .top .left .present-text {
      text-align: left; }
      .top .left .present-text > hr {
        border: 2px solid #EECCDD;
        margin: 2em 0;
        width: 30%; }
      .top .left .present-text h1 {
        margin-bottom: .5em; }
      .top .left .present-text > p {
        font-size: 1.5em; }
  .top .right {
    flex: 1;
    height: 100%;
    justify-content: space-evenly;
    margin-bottom: 1em; }
  .top .img-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    align-self: center;
    -webkit-box-shadow: -1px 6px 51px 2px #11090d;
    -moz-box-shadow: -1px 6px 51px 2px #11090d;
    box-shadow: -1px 6px 51px 2px #11090d; }
    .top .img-container::before {
      content: '';
      display: block;
      padding-top: 56.25%; }
    .top .img-container img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      filter: alpha(opacity=50); }
      .top .img-container img:hover {
        opacity: 1; }

.left-part-page {
  position: fixed;
  border-right: 0.5px dotted #EECCDD;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  width: 6rem;
  box-sizing: border-box; }
  .left-part-page a {
    color: #EECCDD; }
    .left-part-page a:hover, .left-part-page a:focus {
      color: white; }
  .left-part-page .fb,
  .left-part-page .github {
    margin-bottom: 2em; }
  .left-part-page .twitter {
    margin-bottom: 5em; }

body {
  background: #442233;
  color: #EECCDD; }

.no-js #loader {
  display: none; }

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0; }

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/images/preloader.gif") center no-repeat white; }
