.left-part-page {
    position: fixed;
    border-right: 0.5px solid $pink-super-ligth;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 6rem;
    box-sizing: border-box;
    a {
        color: $pink-super-ligth;
        &:hover,
        &:focus {
            color: white;
        }
    }
    .fb,
    .github {
        margin-bottom: 2em;
    }
    .twitter {
        margin-bottom: 5em;
    }
}